[report]
omit =
    tools/*

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    if __name__ == "__main__":
    if __name__ == '__main__':
    @abstractmethod
    raise NotImplementedError
