# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
espnet.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.pytest_cache/
__pycache__/
check_autopep8
.coverage*
coverage.xml*

# recipe related
egs/*/*/data*
egs/*/*/db
egs/*/*/downloads
egs/*/*/dump
egs/*/*/enhan
egs/*/*/exp
egs/*/*/fbank
egs/*/*/mfcc
egs/*/*/stft
egs/*/*/tensorboard
egs/*/*/wav*

# tools related
tools/bats-core
tools/chainer_ctc/
tools/kaldi*
tools/mecab/
tools/miniconda.sh
tools/moses/
tools/nkf/
tools/venv/
tools/sentencepiece/
tools/swig/
tools/warp-ctc/
tools/*.done
tools/PESQ*
