# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
espnet.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.pytest_cache/
__pycache__/
check_autopep8
.coverage
htmlcov
coverage.xml*
bats-core/
shellcheck*
check_shellcheck*
test_spm.vocab
test_spm.model
.vscode*
*.vim
*.swp
*.nfs*

# recipe related
egs*/*/*/data*
egs*/*/*/db
egs*/*/*/downloads
egs*/*/*/dump
egs*/*/*/enhan
egs*/*/*/exp
egs*/*/*/fbank
egs*/*/*/mfcc
egs*/*/*/stft
egs*/*/*/tensorboard
egs*/*/*/wav*
egs*/*/*/nltk*
egs*/*/*/.cache*
egs*/*/*/pretrained_models*
egs*/fisher_callhome_spanish/*/local/mapping*

# tools related
tools/chainer
tools/bin
tools/include
tools/lib
tools/lib64
tools/bats-core
tools/chainer_ctc/
tools/kaldi*
tools/activate_python.sh
tools/miniconda.sh
tools/moses/
tools/mwerSegmenter/
tools/nkf/
tools/venv/
tools/sentencepiece/
tools/swig/
tools/warp-ctc/
tools/warp-transducer/
tools/*.done
tools/PESQ*
tools/hts_engine_API*
tools/open_jtalk*
tools/pyopenjtalk*
tools/tdmelodic_openjtalk*
tools/s3prl
tools/sctk*
tools/sph2pipe*
tools/espeak-ng*
tools/MBROLA*
tools/festival*
tools/speech_tools*
tools/phonemizer*
tools/py3mmseg
tools/anaconda
tools/ice-g2p
tools/fairseq
tools/._*
