*~
*.pyc
\#*\#
.\#*
*DS_Store
slurm-*.out
.eggs/
.pytest_cache/
espnet.egg-info/

doc/_build

# recipe related
egs/*/*/data*
egs/*/*/db
egs/*/*/downloads
egs/*/*/dump
egs/*/*/exp
egs/*/*/fbank
egs/*/*/mfcc
egs/*/*/stft
egs/*/*/enhan
egs/*/*/wav*

# tools related
tools/kaldi
tools/kaldi-io-for-python/
tools/kaldi_github/
tools/miniconda.sh
tools/nkf/
tools/venv/
tools/warp-ctc/
tools/chainer_ctc/
tools/sentencepiece/
tools/nkf*
tools/chainer_ctc*
tools/warp-ctc*
tools/sentencepiece/*
tools/moses
tools/*.done
