language: python
sudo: false
cache:
  - pip
  - ccache

matrix:
  include:
    - os: linux
      python: "2.7"
    - os: linux
      python: "3.6"

script:
  - cd tools
  - make PYTHON_VERSION="$TRAVIS_PYTHON_VERSION" PYTORCH="pytorch-cpu" KALDI_BIN="" BEAMFORMIT="" test
  - cd -

after_success:
  - source tools/venv/bin/activate
  - pip install -r doc/requirements.txt
  - travis-sphinx build --source=doc --nowarn
  - travis-sphinx deploy

addons:
  apt:
    packages:
      - cmake
      - python-dev
      - python3-dev
