dist: xenial
language: python
python:
  - "3.8"

cache:
  - pip
  - ccache

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - cmake
      - python3-dev
      - g++-7
      - pandoc
      - ffmpeg
      - bc

env:
  - USE_CONDA=false ESPNET_PYTHON_VERSION=3.8 TH_VERSION=1.7.1 CHAINER_VERSION=6.0.0 CC=gcc-7 CXX=g++-7
  # torch nightly
  # - USE_CONDA=false ESPNET_PYTHON_VERSION=3.7.3 TH_VERSION=nightly CHAINER_VERSION=6.0.0 CC=gcc-7 CXX=g++-7

matrix:
  allow_failures:
    # torch nightly
    # - env: USE_CONDA=false ESPNET_PYTHON_VERSION=3.7.3 TH_VERSION=nightly CHAINER_VERSION=6.0.0 CC=gcc-7 CXX=g++-7

install:
  - travis_retry ./ci/install.sh
  # - travis_retry ./ci/install_kaldi.sh

script:
  # NOTE(kamo): unittests and build documentation only
  # - ./ci/test_shell.sh
  - ./ci/test_python.sh
  # - ./ci/test_integration.sh
  - ./ci/doc.sh

sudo: false

after_success:
  # - bash <(curl -s https://codecov.io/bash)
  - travis-sphinx deploy -m "Update documentation [ci skip]"
