name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  linter_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 20
      matrix:
        os: [ubuntu-18.04]
        python-version: [3.7]
        pytorch-version: [1.4.0, 1.5.1, 1.6.0, 1.7.1, 1.8.1, 1.9.1, 1.10.2, 1.11.0]
        chainer-version: [6.0.0]
        # NOTE(kamo): Conda is tested by Circle-CI
        use-conda: [false]
        include:
          - os: ubuntu-20.04
            python-version: 3.8
            pytorch-version: 1.11.0
            chainer-verssion: 6.0.0
            use-conda: false
          - os: ubuntu-20.04
            python-version: 3.9
            pytorch-version: 1.11.0
            chainer-verssion: 6.0.0
            use-conda: false
    steps:
      - uses: actions/checkout@master
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ matrix.pytorch-version }}-${{ hashFiles('**/setup.py') }}-${{ hashFiles('**/Makefile') }}
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'
      - name: install dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -qq -y cmake g++-7 libsndfile1-dev bc sox
      - name: install espnet
        env:
          ESPNET_PYTHON_VERSION: ${{ matrix.python-version }}
          TH_VERSION: ${{ matrix.pytorch-version }}
          CHAINER_VERSION: ${{ matrix.chainer-version }}
          USE_CONDA: ${{ matrix.use-conda }}
          CC: gcc-7
          CXX: g++-7
        run: |
          ./ci/install.sh

      - name: test shell
        run: |
          ./ci/test_shell.sh

      - name: test python
        run: ./ci/test_python.sh
      - uses: codecov/codecov-action@v2
        with:
          flags: test_python
      - name: coverage erase
        run: |
          source tools/activate_python.sh
          coverage erase

      - name: install kaldi
        run: |
          ./ci/install_kaldi.sh

      - name: test utils
        run: ./ci/test_utils.sh
      - uses: codecov/codecov-action@v2
        with:
          flags: test_utils
      - name: coverage erase
        run: |
          source tools/activate_python.sh
          coverage erase

      - name: test espnet1 integration
        run: ./ci/test_integration_espnet1.sh
      - uses: codecov/codecov-action@v2
        with:
          flags: test_integration_espnet1
      - name: coverage erase
        run: |
          source tools/activate_python.sh
          coverage erase

      - name: test espnet2 integration
        run: ./ci/test_integration_espnet2.sh
      - uses: codecov/codecov-action@v2
        with:
          flags: test_integration_espnet2
