name: doc

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  linter_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('**/setup.py') }}
      - uses: actions/setup-python@v1
        with:
          python-version: 3.8
          architecture: 'x64'
      - name: check OS
        run: cat /etc/os-release
      - name: install dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -qq -y cmake python3-dev git pandoc ffmpeg bc
      - name: install espnet
        env:
          ESPNET_PYTHON_VERSION: 3.8
          TH_VERSION: 1.13.1
          CHAINER_VERSION: 6.0.0
          USE_CONDA: false
        run: ./ci/install.sh
      - name: generate doc
        run: ./ci/doc.sh
      - name: deploy
        if: github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/build
