name: publish paper pdf

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  generate_and_upload_paper_pdf:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          # This should be the path to the paper within your repo.
          paper-path: doc/paper/espnet-se++/paper.md
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: paper
          # This is the output path where Pandoc will write the compiled
          # PDF. Note, this should be the same directory as the input
          # paper.md
          path: doc/paper/espnet-se++/paper.pdf
