name: Test import espnet

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test_import:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 20
      matrix:
        os: [ubuntu-latest]
        python-version: [3.9]
        pytorch-version: [1.11.0]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get install -qq -y libsndfile1-dev
        python3 -m pip install --upgrade pip setuptools wheel
    - name: Install espnet with the least requirement
      env:
        TH_VERSION: ${{ matrix.pytorch-version }}
      run: |
        python3 -m pip install "numpy<=1.21.4"
        python3 -m pip freeze
        ./tools/installers/install_torch.sh false ${TH_VERSION} CPU
        ./tools/installers/install_chainer.sh CPU
        python3 setup.py bdist_wheel
        python3 -m pip install dist/espnet-*.whl
        # log
        python3 -m pip freeze
    - name: Import all modules (Try1)
      run: |
        python3 ./ci/test_import_all.py
    - name: Install espnet with the full requirement
      env:
        TH_VERSION: ${{ matrix.pytorch-version }}
      run: |
        python3 -m pip install "$(ls dist/espnet-*.whl)[all]"
        # log
        python3 -m pip freeze
    - name: Import all modules (Try2)
      run: |
        python3 ./ci/test_import_all.py
